[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sam2B3 (Sam2B3)
	label-Code-Review = -2..+2 group user/Sam2B3 (Sam2B3)
	label-Verified = -1..+1 group user/Sam2B3 (Sam2B3)
[access "refs/for/refs/*"]
	read = group user/Sam2B3 (Sam2B3)
	push = group user/Sam2B3 (Sam2B3)
	label-Code-Review = -2..+2 group user/Sam2B3 (Sam2B3)
	label-Verified = -1..+1 group user/Sam2B3 (Sam2B3)
	rebase = group user/Sam2B3 (Sam2B3)
	removeReviewer = group user/Sam2B3 (Sam2B3)
	submit = group user/Sam2B3 (Sam2B3)
[access "refs/heads/*"]
	read = group user/Sam2B3 (Sam2B3)
	create = group user/Sam2B3 (Sam2B3)
	push = +force group user/Sam2B3 (Sam2B3)
	pushMerge = group user/Sam2B3 (Sam2B3)
[access "refs/tags/*"]
	push = group user/Sam2B3 (Sam2B3)
	push = +force group user/Sam2B3 (Sam2B3)
[label "Verified"]
       function = MaxWithBlock
       value = -1 Fails
       value =  0 No score
       value = +1 Verified
	defaultValue = 0
